body{
	position: relative;
	width:100%;
	height:100%;
	overflow-y: hidden;
	/*尽量实现响应式*/
    /*background-color: #eeeeee;*/
	background-color:whitesmoke;
}

header{
	height: 20px;
	width: 100%;
	background-color: #0099FF;
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left:-10px;
	padding:10px;
	color: white;
	font-size: 1.2em;
	opacity: 0.8;
}
#filter{
	margin-top: -10px;
	float: right;
}

#search{
	float:right;
	margin-right: 2%;
}


#main{
	width: 90%; /*可以使用变量吗？要和窗口大小一致。或在js里控制可以吗*/
	/*min-width:990px;*/
	height: 660px;
	position: absolute;
	left: 50%;
	margin-left: -40%;
	margin-top: 45px;
	/*border: #47655b solid 1px ;*/
	/*background-color: rgb(236,235,253);*/
}



#vis,#no-wordle,#origin{
	position: absolute;
}

#legend{
	height: 250px;
	width: 50px;
}
#svgControl{

}

#controlPannel{
	/*visibility: hidden;*/
   float: left;
   padding: 5px;
   list-style-type:none;
   line-height: 2em;
	width: 200px;
   display: none;
  /*visibility: hidden;*/
}

fieldset{
    border:  #1B9AF7 solid 2px;
    margin-bottom: 20px;
}

#details{
   position: fixed;
	right: 0;
	background-color: gainsboro;
	width:200px;
	height: 100%;
	display: none;
	margin-top: 40px;
	font-size: 1.2em;
}

#details i{
	float: right;
	cursor: pointer;
	margin-right: 10px;

}

.stations circle:hover{
	cursor: pointer;
}

#main svg:active{
	cursor: move;
}

.text text:hover{
	cursor: pointer;
}


#controlPannel button{
    background-color: whitesmoke;
    color: #2f21d4;
    border: #1B9AF7 solid 1px;
}

#tooltip{
    position: absolute;
    width: 200px;
    height:100px;
    background-color: #363636;
	color:white;
	opacity: 0.8;
    visibility: hidden;
}

.bubbles{
	visibility: hidden;
}
/*#stations{*/
  /*display: block;*/
/*}*/

#selection{
	background-color: #0099FF;
	opacity: 0.8;
	top: 35px;
	text-align: center;
}

#selection li{
	font-size: 0.8em;
	list-style: none;
	line-height: 1.8em;
	/*border-bottom: dashed 1px white;*/

}

li:hover{
	background-color: white;
	color: blue;
	cursor:pointer;
}

#menu ul{
	/*display: inline;*/
    position: fixed;
    width: 10px;
    height: 100%;
	left: -10px;
	margin-top: -10px;
	color:white;
	background-color: #00aaff;
	list-style: none;
	opacity: 0.8;
}

#menu li{
	position: absolute;
	left: -42px;
   width: 150px;
	text-align: center;
	line-height: 3em;
}

#menu li:first-child{
	transform: rotate(90deg) translate(100px, 0px);
}
#menu li:nth-child(2){
	transform: rotate(90deg) translate(250px, 0px);
}
#menu li:nth-child(3){
	transform: rotate(90deg) translate(400px, 0px);

}
#menu li:nth-child(4){
	transform: rotate(90deg) translate(550px, 0px);

}
#menu .selected{
	background-color: whitesmoke;
	color: blue;
}

#origin{
	display: none;
	/*transform-origin: 40%;*/
}
#origin .stationName{
	display: none;
}

#no-wordle{
	display: none;
}

#filling{
	display: none;
}